
<div class="row" style="margin-bottom:10px;">
    <div class="col-8 offset-2">
        
        <a asp-action="AddUserToRole" class="btn btn-info mr-2">Assign user to role</a>
        <a asp-action="userAuth" asp-controller="Administration" class="btn btn-primary">Back to Users</a>
    </div>
</div>

<hr />