@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Burial Database";
    ViewData["Subheading"] = "Use the filters on the right to filter or simply page through using our helpful nav bar at the bottom"; 
    ViewData["Header"] = "Search Burial Database";
    ViewData["Img"] = "/img/Mummy.jpg";
}       

@model BurialViewModel
<partial name="Addpartial" />
<div id="Filters">
    <vc:types></vc:types>
</div>

<div class="flex">
    <div class="row">
        @foreach (SummaryView b in Model.Burials)
        {
            <div class="col-6"  >
                <partial name="BurialDetails" model="b" />
            </div>
        }
    </div>
</div>
        



<div link-maker="@Model.PageDetails" page-action="BurialSummary" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-class-disabled="btn-disabled" class="btn-group pull-right m-1">
</div>


