@{
    ViewData["Title"] = "Home Page";
    ViewData["Header"] = "Fag el-Gamous";
    ViewData["Subheading"] = "";
    ViewData["Img"] = "img/Excavation.jpg";
}

@*<h2>A professional-looking landing page that describes the project and has a link to view the burial information</h2>*@
<h2 class="text-center">Fag el-Gamous Burial Site and Seila Pyramid</h2>
<br />
<p>
    This database is designed to make the work of the BYU Egypt Excavation Project available to the world. It represents the data gained from decades of excavation combined with digital analytical power that should make any number of studies possible. We believe that the data presented herein makes it possible for us to tell something of the stories of those who lived so long ago in Egypt, and that those stories deserve to be told.
</p>

<p>
    This database is the results of the work of many people and institutions. Most especially it represents the combined efforts of the Excavation Team, the College of Religious Education, the College of Life Sciences, and the Department of Information Systems inside of the Marriott School of Business.
</p>

<p>
    There are two main parts to the BYU Egypt Excavation Project. The part with which this database is concerned is the Fag el-Gamous cemetery. This cemetery was in use during the Graeco-Roman era of Egyptian history. In the early 1900’s some Mummy Portraits were found there by Bernard Grenfell and Arthur Hunt. The cemetery is very large and densely populated with burials. Some lie in the mudstone escarpments, where tombs were carved into the rocks. These are typically somewhat wealthier burials, including a golden masked mummy who was the daughter of a priest in the Ptolemaic period. Most of the burials lie loose in the sand. These burials range from being fully skeletonized to being extremely well preserved. They range from just after 300 BC to about 500 AD. During that time period nearly all of the inhabitants of the Fayoum converted to Christianity. There is some evidence for this in the burials. We are doing vigorous research attempting to determine if there are more detectable archaeological markers pointing to Christian burial practices.
</p>

<p>
    This large cemetery population allows for significant statistical studies of burial practices. It has afforded a marvelous opportunity for demographic studies. Our textile analyses are providing significant new insights into changing burial patterns and the multiple and varied uses to which textiles were put. Because all of our textiles derive from a known setting, some of our most important work involves identifying and describing original in situ contexts that can be generalized to the many museum collections of uncertain provenance. We have also been able to study weaving practices, the use of tunics in various time periods, the use of sprang hairnets in various time periods, and a number of other textile studies. Analysis of amulets, figurines, pottery, jewelry, and other burial goods has also been possible. The site is among the most promising for telling us statistically significant information about burial practices in Graeco-Roman Egypt for the common person.
</p>

<p>
    The other part of the excavation is of the Seila Pyramid. Our discovery of a stela with two of the names of Snefru, first king of the Fourth Dynasty, revealed who had built the pyramid. It lies 10 km due west of the Meidum Pyramid, and in terms of its elevation and the ratio of its construction, there are some clear links between the two pyramids. The Seila Pyramid has evidence for ritual activity on both the north and the eastern sides. It has a causeway on the eastern side, but no valley temple. It represents an important witness of Snefru’s innovations in regard to pyramid complexes, and play an important role in the development of pyramids. Besides the stelae, other important artifacts include an altar, the remains of a small statue, a foundation deposit jar, a model oar, and the remains of several limestone tables or altars.
</p>

<p>
    Our most recent publications may best highlight some of the research that is possible from the longstanding excavations performed by Brigham Young University (BYU). The fist book listed includes chapters on the geography and history of the region, history of the BYU Excavations, the ritual ramifications of the excavation of the Seila Pyramid, a report on ritual objects on the northern side of the Seila Pyramid, an analysis of common burial practices at the cemetery, a ground-breaking report on which mummy portraits came from Fag el-Gamous, an analysis of the kinds of weaves used in burial clothing, an analysis of the use of jewelry in burials, an analysis of the kinds of dyes used to obtain purple clothing in the burials, a paleopathological study of some of the crania found among the burials, an analysis of pottery with a specific kind of hole, a report on the kinds of grain found with burials, a translation of papyrus found in the cemetery, and a report of a survey done of the nearby town of Philadelphia.
</p>

<hr />

